# AWS - RDS MySQL
### Paquetes requeridos
Librería de Python necesaria para establecer conexión a una base de datos MySQL

In [ ]:
#!pip install PyMySQL

### Credenciales
Para acceder a la BD necesitaremos tres datos:
1. Endpoint/host: la dirección donde se encuentra el servidor
2. Usuario
3. Contraseña

In [17]:
from getpass import getpass
from mysql.connector import connect, Error

def connectdb(host, user):
    try:
        # Si la conexion se da satisfactoriamente, tendremos
        # un mensaje de éxito.
        conn = connect(
                        host=host,
                        user=user,
                        password=getpass("Enter password: "))

        print('SUCCESSFUL\n\n')
        return conn 


    except Error as e:
        # En caso de tener un error de conexión, lo mostramos
        print(e)

### Conexion BD

In [18]:
host = 'dbmusic.cb2wgp0ktb7z.us-east-1.rds.amazonaws.com'
user = 'admin'
conn = connectdb(host,user)

SUCCESSFUL

### Creación de DB

In [9]:

#MOSTRAR BASE DE DATOS EXISTENTE
def showdb(cursor):
    cursor.execute('SHOW DATABASES')
    return cursor.fetchall()

In [19]:
cursor = conn.cursor()

In [11]:
cursor.execute('SELECT VERSION()')

cursor.fetchall()

[('8.0.28',)]

### Creación de tablas

In [20]:
#Creacion de BBDD y fijar utilizacion
cursor.execute('DROP DATABASE IF EXISTS music_rec')

In [21]:
cursor.execute('CREATE DATABASE music_rec')
cursor.execute('USE music_rec')

In [ ]:
showdb(cursor)

In [22]:
#Creacion de tablas
cursor.execute('DROP TABLE IF EXISTS usuarios')

cursor.execute('CREATE TABLE usuarios (id INTEGER PRIMARY KEY AUTO_INCREMENT, nombreusuario VARCHAR(120) NOT NULL)')

In [23]:
cursor.execute('DROP TABLE IF EXISTS info_usuarios')


cursor.execute('CREATE TABLE info_usuarios (id_user INTEGER NOT NULL AUTO_INCREMENT, edad INTEGER, sexo VARCHAR(120), ocupacion VARCHAR(120), FOREIGN KEY (id_user) REFERENCES usuarios(id))')

In [26]:
cursor.execute('DROP TABLE IF EXISTS recomendaciones')
cursor.execute('CREATE TABLE recomendaciones (id_user INTEGER NOT NULL  AUTO_INCREMENT, text VARCHAR(500), gender VARCHAR(50), ages_fwer VARCHAR(50), music VARCHAR(50), hobbie VARCHAR(80), language VARCHAR(50), recomendacion1 VARCHAR(120), recomendacion2 VARCHAR(120), recomendacion3 VARCHAR(120),opinion1 VARCHAR(80),opinion2 VARCHAR(80),opinion3 VARCHAR(80),FOREIGN KEY (id_user) REFERENCES usuarios(id) ON UPDATE CASCADE)')

### Insertar datos

In [ ]:
def showtables(cursor):
    cursor.execute('SHOW TABLES')
    return cursor.fetchall()

#### Mostramos por pantalla los nombres de las tablas 
- 'info_usuarios'
- 'recomendaciones'
- 'usuarios'

In [ ]:
showtables(cursor)

#### Incorporamos valores (nombre) a la tabla 'usuarios'
mostramos por pantalla toda la tabla usuarios para verificar que se inserta los valores

In [12]:
user = "Maria"

In [14]:

cursor.execute('INSERT INTO usuarios (nombreusuario) VALUES ("{user}")')
conn.commit()

In [ ]:
cursor.execute('SELECT * FROM usuarios')
cursor.fetchall()

#### Incorporamos valores (edad, sexo, ocupación) a la tabla 'info_usuarios'

In [ ]:
cursor.execute('INSERT INTO info_usuarios (edad, sexo, ocupacion) VALUES (30, "Femenino", "estudiante")')
conn.commit()

In [ ]:
cursor.execute('SELECT * FROM info_usuarios')
cursor.fetchall()

### Muestra de la entrada de valores

In [ ]:
import json

recomendacion = {
                "text": "Viajar, como casi todo en la vida, es mejor si se hace con amigos",
                "gender": "All public",
                "ages": "25-35",
                "music": "Soul/Jazz/Blues",
                "hobbie": "Travelling",
                "language": "Spanish",
                "song": "Disfruto,Carla Morrison"
                
                }

In [ ]:
text = recomendacion['text']
gender = recomendacion['gender']
ages = recomendacion['ages']
music = recomendacion['music']
hobbie = recomendacion['hobbie']
language = recomendacion['language']
song = recomendacion['song']

#### Insertamos los valores (text, gender, ages, music, hobbie, language, song) a la tabla 'recomendaciones'

In [ ]:
def insert_recomendacion(text, gender, ages,music,hobbie,language,song):
    cursor.execute('INSERT INTO recomendacion (text, gender, ages, music, hobbie, language, song) VALUES (%s,%s,%s,%s,%s,%s,%s)', (text, gender, ages,music,hobbie,language,song))
    conn.commit()

recomendacion = {"text": text, "gender": gender, "ages": ages, "music": music, "hobbie": hobbie, "language": language, "song": song}
insert_recomendacion(**recomendacion)

cursor.close()
conn.close()